html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 1em 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* ****************************** */
.site-map {
    padding: 3em 1em;
}

.announcement {
    padding: 1em;
    text-align: center;
}

.middle-ad-block {
    padding: 3em 1em;
    text-align: center;
}

.middle-ad-block > section {
    border: black 1px solid;
    height: 10em;
}

.header {
    margin-bottom: 1em;
}

/* ******************************** */
/*.arrows-block li {
    text-transform: uppercase;
}

.arrows-block li a {
    height: 44px;
    display: block;
    background: transparent;
    min-width: 130px;
    text-align: center;
    line-height: 44px;
    text-decoration: none;
    padding: 0 10px;
}

.arrows-block li.active a {
    color: white;
}

.arrows-block li {
    border: 1px solid #337ab7;
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-style: solid;
    border-left-style: solid;
    border-right-color: rgb(51, 122, 183);
    border-left-color: rgb(51, 122, 183);
    height: 44px;
    position: relative;
    min-width: 130px;
    display: inline-block;
    margin-right: 14px;
    padding-left: 22px;
    text-transform: uppercase;
    border-right: none;
    border-left: none;
}

.arrows-block li:first-child {
    padding-left: 11px;
    border-left: 1px solid #337ab7;
}

.arrows-block li.active {
    background: #337ab7;
}

.arrows-block li::after {
    width: 0;
    height: 0;
    border: 22px solid transparent;
    border-left-width: 22px;
    border-left-style: solid;
    border-left-color: transparent;
    border-left: 22px solid white;
    border-left-color: white;
    display: block;
    position: absolute;
    top: -1px;
    content: "";
    -moz-transform: scale(0.9999);
    right: -42px;
    z-index: 1000;
}

.arrows-block li.active::after {
    border-left-color: #337ab7;
}

.arrows-block li::before {
    width: 0;
    height: 0;
    border: 22px solid transparent;
    border-left-width: 22px;
    border-left-style: solid;
    border-left-color: transparent;
    border-left: 22px solid #337ab7;
    display: block;
    position: absolute;
    top: -1px;
    content: "";
    -moz-transform: scale(0.9999);
    right: -43px;
    z-index: 1000;
}*/

/* ****************************************************** */
.content-wrapper {
    background-color: white !important;
}

/* ****************************************************** */


/* Global CSS, you probably don't need that */

/*.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.container {
    font-family: 'Lato', sans-serif;
    width: 1000px;
    margin: 0 auto;
}

.wrapper {
    display: table-cell;
    height: 400px;
    vertical-align: middle;
}

.nav {
    margin-top: 40px;
}

.pull-right {
    float: right;
}

a, a:active {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #999;
}*/

/* Breadcrups CSS */

.arrow-steps .step {
    font-size: 11px;
    text-align: center;
    color: #666;
    cursor: default;
    margin: 0 3px;
    padding: 10px 10px 10px 30px;
    min-width: 180px;
    float: left;
    position: relative;
    background-color: #d9e3f7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
    content: " ";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #d9e3f7;
    z-index: 2;
    transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
    right: auto;
    left: 0;
    border-left: 17px solid #fff;
    z-index: 0;
}

.arrow-steps .step:first-child:before {
    border: none;
}

.arrow-steps .step:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
    position: relative;
}

.arrow-steps .step span:before {
    opacity: 0;
    content: "✔";
    position: absolute;
    top: -2px;
    left: -20px;
}

.arrow-steps .step.done span:before {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0.5s;
    -moz-transition: opacity 0.3s ease 0.5s;
    -ms-transition: opacity 0.3s ease 0.5s;
    transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
    color: #fff;
    background-color: #23468c;
}

.arrow-steps .step.current:after {
    border-left: 17px solid #23468c;
}





